![rmotr](https://i.imgur.com/jiPp4hj.png)
<hr style="margin-bottom: 40px;">

# Pandas Series additional exercises

![separator2](https://i.imgur.com/4gX5WFr.png)

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

0.23.0

![separator1](https://i.imgur.com/ZUWYTii.png)

## Series creation

In [2]:
# Create an empty pandas Series

S = pd.Series({})
print(S, type(S))

Series([], dtype: float64) <class 'pandas.core.series.Series'>

In [3]:
# Given the X python list convert it to an Y pandas Series
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [4]:
# Given the X pandas Series, name it 'My letters'
X = pd.Series(['A','B','C'])

Y.name = 'My letters'
Y

0    A
1    B
2    C
Name: My letters, dtype: object

In [5]:
# Given the X pandas Series, show its values
X = pd.Series(['A','B','C'])

Y.values

array(['A', 'B', 'C'], dtype=object)

![separator1](https://i.imgur.com/ZUWYTii.png)

## Series indexation

In [6]:
# Assign index names to the given X pandas Series
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

In [7]:
# Given the X pandas Series, show its first element
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

X[0] # by position
#X.iloc[0] # by position
#X['first'] # by index

'A'

In [8]:
# Given the X pandas Series, show its last element
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

X[-1]

'C'

In [9]:
# Given the X pandas Series, show all middle elements
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

X[1:-1]

second    B
third     C
forth     D
dtype: object

In [10]:
# Given the X pandas Series, show the elements in reverse position
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [11]:
# Given the X pandas Series, show the first and last elements
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

X[[0, -1]]

first    A
fifth    E
dtype: object

![separator1](https://i.imgur.com/ZUWYTii.png)

## Series manipulation

In [12]:
# Convert the given integer pandas Series to float
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X.astype('float64')
# pd.Series(X, dtype=np.float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [13]:
# Reverse the given pandas Series (first element becomes last)
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [14]:
# Order (sort) the given pandas Series
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X.sort_values(ascending=True)
#X = X.sort_values()
#X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [15]:
# Given the X pandas Series, set the fifth element equal to 10
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X['E'] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [16]:
# Given the X pandas Series, change all the middle elements to 0
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X.iloc[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

In [17]:
# Given the X pandas Series, add 5 to every element
X = pd.Series([1,2,3,4,5])

X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

![separator1](https://i.imgur.com/ZUWYTii.png)

## Series boolean arrays (also called masks)

In [18]:
# Given the X pandas Series, make a mask showing negative elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X < 0

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool

In [19]:
# Given the X pandas Series, get the negative elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X[X < 0]

0   -1
3   -4
8   -9
dtype: int64

In [20]:
# Given the X pandas Series, get numbers higher than 5
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X[X > 5]

5     6
9    10
dtype: int64

In [21]:
# Given the X pandas Series, get numbers higher than the elements mean
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X[X > X.mean()]

1     2
4     5
5     6
9    10
dtype: int64

In [22]:
# Given the X pandas Series, get numbers equal to 2 or 10
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X[(X==2) | (X==10)]

1     2
9    10
dtype: int64

![separator1](https://i.imgur.com/ZUWYTii.png)

## Logic functions

In [23]:
# Given the X pandas Series, return True if none of its elements is zero
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

False

In [24]:
# Given the X pandas Series, return True if any of its elements is zero
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

True

![separator1](https://i.imgur.com/ZUWYTii.png)

## Summary statistics

In [25]:
# Given the X pandas Series, show the sum of its elements
X = pd.Series([3,5,6,7,2,3,4,9,4])

X.sum()

43

In [26]:
# Given the X pandas Series, show the mean value of its elements
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

X.mean()

3.7

In [27]:
# Given the X pandas Series, show the max value of its elements
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

X.max()

10

![separator2](https://i.imgur.com/4gX5WFr.png)